.grid::before {

    /* VAR */
    --grid-sides-flag: 1;
    --grid-gutter: 16px;
    --gird-column-width: calc((100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns));

    --grid-color: rgb(175 112 255 / 0.2);
    /* VAR END */

    z-index: 999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    pointer-events: none;

    border: solid transparent;
    border-width: 0 calc(var(--grid-sides) * var(--grid-sides-flag));

    background-image:
        repeating-linear-gradient(to right,
            transparent 0,
            transparent calc(var(--grid-gutter) / 2),
            var(--grid-color) calc(var(--grid-gutter) / 2),
            var(--grid-color) calc(var(--gird-column-width) + var(--grid-gutter) / 2),
            transparent calc(var(--gird-column-width) + var(--grid-gutter) / 2),
            transparent calc(var(--gird-column-width) + var(--grid-gutter)));
    background-repeat: no-repeat;

    margin: 0 calc(-1 * var(--grid-gutter) / 2);
}

@media (min-width: 0) {
    .grid::before {
        --grid-sides: 16px;
        --grid-columns: 4;
    }
}

@media (min-width: 736px) {
    .grid::before {
        --grid-sides: 24px;
        --grid-columns: 8;
    }
}

@media (min-width: 1008px) {
    .grid::before {
        --grid-sides: 32px;
        --grid-columns: 12;
    }
}

/* GRID END */

.grid-toggle {
    z-index: 9999999;
    position: fixed;
    right: 24px;
    bottom: 24px;
    height: 40px;
    min-width: 80px;
    padding: 0 16px;
    border: 2px solid rgb(175 112 255 / 0.5);
    border-radius: 16px;
    background-color: rgb(255 255 255 / 0.5);
    color: #111;
    text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    outline-offset: 0px;
}

.grid-toggle:hover {
    transform: scale(1.2);
    font-size: 16px;
}

.grid-toggle:active {
    transform: scale(1);
}

.grid-toggle:focus {
    transform: scale(1.2);
    outline-color: #AF70FF;
    outline-width: 2px;
    animation-name: focus-btn;
    animation-duration: .7s;
    animation-duration: alternate;
    animation-iteration-count: infinite;
}

@keyframes focus-btn {
    from {
        outline-offset: -1px;
        outline-color: transparent;
        outline-width: 1px;
    }
    to {
        outline-width: 2px;
        outline-offset: 8px;
        outline-color: #AF70FF;
    }
}`;
