/* -------- CASES -------- */

.our-cases__item .link__wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
}

.our-cases__item:hover .our-cases__item-content {
  color: #d727c6;
}

.our-cases__item:hover .our-cases__image {
  transform: scale(1.1);
}
.our-cases__show-tag.is-open .our-cases__show-ico {
  transform: rotate(180deg);
}

.our-cases__item-content .body-xl {
  transition: color 300ms ease;
}

/* -------- >CASES -------- */
/* -------- CASES OPEN FILTER -------- */

.our-cases__nav.is-open .our-cases__nav-wrapper {
  height: 8.2rem;
}

.our-cases__nav.is-open .our-cases__show-ico {
  transform: rotate(180deg);
}

/* -------- >CASES OPEN FILTER -------- */
