/* -------- BASE STYLE -------- */

html,
body {
  font-size: 1vw;
  width: 100%;
  min-height: 100%;
}

[data-theme="dark"] .base {
  background-color: #000;
  color: #fff;
}

[data-theme="light"] .base {
  background-color: #fff;
  color: #000;
}

.is-stop {
  overflow: hidden;
}

.w--current {
  pointer-events: none;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-underline-offset: 0.35em;
  text-decoration-thickness: 0.07em;
}

::selection {
  background-color: #cf8eff;
  color: #000;
}

[no-click],
.services-hero__lottie {
  pointer-events: none;
}

.hero__right-slide {
  display: block !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

html.lenis {
  height: auto;
}

@media (max-width: 767px) {
  a {
    text-underline-offset: 1em;
    text-decoration-thickness: 0.3em;
  }
}

@media (min-width: 1600px) {
  html,
  body {
    font-size: 1rem;
  }
}

.is-disable {
  pointer-events: none;
  opacity: 0.6;
}

/* -------- >BASE STYLE -------- */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

.arrow-nav__btn {
  color: currentColor;
  border-color: currentColor;
}

.arrow-nav__btn:hover {
  background-color: currentColor;
}

.arrow-nav__btn:hover .arrow-nav__arrow {
  color: #000;
}

.magic-card__item:hover {
  z-index: 1;
}
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

.hero__right-person {
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-image: url("https://uploads-ssl.webflow.com/6363bfd684061381d6870446/63701ec49e4b6715cdb473bd_mask-person.svg");
  mask-image: url("https://uploads-ssl.webflow.com/6363bfd684061381d6870446/63701ec49e4b6715cdb473bd_mask-person.svg");
}

@media screen and (min-width: 768px) {
  .cases-wrapper__item:first-child {
    max-width: 20%;
  }

  .cases-wrapper__item:not(:first-child) {
    padding-left: 1.25rem;
  }
  .cases-wrapper__item:not(:last-child) {
    padding-right: 1.25rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.clients__item:last-child,
.cases__item:last-child {
  margin-right: 0;
}

.hero__right-slide:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  .team__table:hover .team-table__item {
    opacity: 0.2;
  }

  .team-table__item:hover {
    opacity: 1 !important;
  }
}

.cases__item:hover .arrow-btn {
  color: #fff3d2;
  transform: scale(1.1);
}

.cases__item.is-companies:hover .arrow-btn {
  color: #e9ccff;
  transform: scale(1.1);
}

.cases__item:hover .arrow {
  transform: translateX(10%) translateY(-10%);
}

/* --------- HERO SLIDER --------- */

.hero__right:hover .hero__right-area {
  opacity: 1;
}
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* -------- TRANSITION -------- */

html .o-loader {
  opacity: 1;
  visibility: visible;
}

html.is-loaded .o-loader,
html.is-ready .o-loader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

html.is-loading .o-loader {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

/* -------- >TRANSITION -------- */

/* -------- SLIDER EXP3 -------- */

@media screen and (min-width: 768px) {
  .hero__pro-3__slider::before,
  .hero__pro-3__slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15rem;
    left: 0;
    right: 0;
    z-index: 20;
    pointer-events: none;
  }

  .hero__pro-3__slider::before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .hero__pro-3__slider::after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
  }

  .hero__pro-3__slider .swiper-slide:not(.swiper-slide:last-child) {
    margin-bottom: 1.56rem;
  }
}

.hero__pro-3-item__star::before {
  content: "";
  position: absolute;
  inset: 0.14rem;
  background: #000;
  z-index: -1;
  border-radius: 1.6rem;
}

/* -------- >SLIDER EXP3 -------- */

/* -------- CASES -------- */

.link__wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
}

.our-cases__item:hover .our-cases__item-content {
  color: #d727c6;
}

.our-cases__item:hover .our-cases__image {
  transform: scale(1.1);
}
.our-cases__show-tag.is-open .our-cases__show-ico {
  transform: rotate(180deg);
}

/* -------- >CASES -------- */

/* ---------- DATA-NAV ---------- */

[data-nav="custom"] .nav__logo,
[data-nav="custom"] .nav__btn {
  color: #cf8eff;
}
[data-nav="light"] .nav__logo,
[data-nav="light"] .nav__btn {
  color: #fff;
}

[data-nav="dark"] .nav__logo,
[data-nav="dark"] .nav__btn {
  color: #000;
}
/* ---------- >DATA-NAV ---------- */
